.image-container {
    position: relative;
    
}

.image-container:hover + .text-content {
    transform: translateY(-30px);
    transition: transform 0.2s ease-in-out;
    cursor: pointer; 
    display: block; 
    overflow: hidden;
    margin-bottom: 0;
}